@{
    ViewBag.Title = "Home Page";
}

<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>
<div class="widgetHolder"></div>

@Scripts.Render("~/Scripts/main")