################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CommonComponents/bin/Debug
/CommonComponents/obj/Debug
/Components/System.Composition.TypedParts.dll
/Components/System.Composition.Runtime.dll
/Components/System.Composition.Hosting.dll
/Components/System.Composition.Convention.dll
/Components/System.Composition.AttributedModel.dll
/Components/NLipsum.Core.xml
/Components/NLipsum.Core.dll
/Components/Newtonsoft.Json.xml
/Components/Newtonsoft.Json.pdb
/Components/Newtonsoft.Json.dll
/Components/MTGCardWidgetProvider.pdb
/Components/MTGCardWidgetProvider.dll
/Components/MtgApiManager.Lib.dll
/Components/MaikusWidgetProvider.pdb
/Components/MaikusWidgetProvider.dll
/Components/LoremIpsumWidgetProvider.pdb
/Components/LoremIpsumWidgetProvider.dll
/Components/log4net.xml
/Components/log4net.dll
/Components/CommonComponents.pdb
/Components/CommonComponents.dll
/LoremIpsumWidgetProvider/bin/Debug
/LoremIpsumWidgetProvider/obj/Debug
/MaikusWidgetProvider/bin/Debug
/MaikusWidgetProvider/obj/Debug
/MTGCardWidgetProvider/bin/Debug
/MTGCardWidgetProvider/obj/Debug
/packages
/PersonalWebsite/bin/Imports
/PersonalWebsite/bin
/PersonalWebsite/Logs
/PersonalWebsite/obj/Debug
/Test
