<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Killingbeck</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="header-area">
        <div>
            <div class="title-bar">
                Michael Killingbeck
            </div>
        </div>
    </div>
    <div class="widgetHolders">
        <hr />
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year</p>
    </footer>
</body>
</html>
